html {
    background-color: #2d2d2d;
    color: #fff;
}

body {
    margin: 0;
    font-family: arial
}

body.default {
    font-size: 100%;
}

body.largest {
    font-size: 120%;
}

body.large {
    font-size: 110%;
}

body.small {
    font-size: 90%;
}

body.smallest {
    font-size: 80%;
}

nav.right {
    float: right;
}

header h1 {
    background-color: #000;
    color: #fff;
    padding: 20px;
    margin: 0;
}

nav {
    display: inline-block;
    height: 100%;
    margin: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 15px 20px;
}

nav ul li a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

nav ul li a:hover {
    color: #696969;
}

content {
    position: absolute;
    width: 75%;
    margin: 15px 0 15px 50px;
    display: inline-block;
}

.login {
    display: inline-block;
    padding: 10px;
    color: #fff;
    background-color: #696969
}

.login input {
    line-height: 2em;
    margin: 5px;
}

.position-center {
    width: 250px;
    margin: auto;
}