/*Styling for the lightside theme used by the preferences page*/


/*Site wide ID styling*/

body {
    margin: 0;
    font-family: arial
}

header h1 {
    background-color: #d3d3d3;
    padding: 20px;
    margin: 0;
}

nav {
    display: inline-block;
    height: 100%;
    margin: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 15px 20px;
}

nav ul li a {
    font-size: 20px;
    color: #656565;
    text-decoration: none;
    cursor: pointer;
}

nav ul li a:hover {
    color: #000;
}

content {
    position: absolute;
    width: 75%;
    margin: 15px 0 15px 50px;
    display: inline-block;
}



/*Font sizes and navigation menu position used by preferences page*/

body.default {
    font-size: 100%;
}

body.largest {
    font-size: 120%;
}

body.large {
    font-size: 110%;
}

body.small {
    font-size: 90%;
}

body.smallest {
    font-size: 80%;
}

nav.right {
    float: right;
}



/*Class's for login page*/

.login {
    display: inline-block;
    padding: 10px;
    color: #fff;
    border: thin solid #a9a9a9;
    box-shadow: 1px 1px 2px 2px #d3d3d3;
}

.login input {
    line-height: 2em;
    margin: 5px;
}

.position-center {
    width: 250px;
    margin: auto;
}